body {
	background-color: #E5E5E5;
}
/* header */
.header {
	width: 100%;
	height: auto;	
	font-family: 'Kanit', sans-serif;
}
.header .inner-header {
	width: 100%;
	height: auto;
	padding: 20px 0 3px 30px;
	box-sizing: border-box;
}
.header .inner-header .nav {
	width: calc(100% - 30px);
	height: auto;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	border-bottom: 2px ridge #606060;
}
.header .inner-header .nav .logo {
	flex: 0 0 100px;
	height: auto;
}
.header .inner-header .nav .logo a {
	width: 100%;
	height: auto;
}
.header .inner-header .nav .logo a img {
	width: 100%;
	height: auto;
	display: block;
}
.header .inner-header .nav .gnb {
	flex: 0 1 800px;
	height: auto;
}
.header .inner-header .nav .gnb ul {
	display: flex;
	justify-content: space-evenly;
}
.header .inner-header .nav .gnb ul li {
	line-height: 40px;
}
.header .inner-header .nav .gnb ul li a {
	font-size: 16px;
}
.header .inner-header .nav .gnb ul li span {
	font-size: 16px;
}
.header .inner-header .nav .gnb ul li a.name {
	font-size: 16px;
	font-weight: bold;
}
.header .inner-header .nav .gnb ul li a:not(.name)::after {
	content: ' .';
	color: #E5E5E5;
}
.header .inner-header .nav .gnb ul li a:not(.name):hover::after {
	content: ' .';
	font-weight: bold;
	color: #EE0000;
}
.header .inner-header .nav .gnb ul li a.name:hover {
	text-decoration: underline;
}



/* .header .inner-header .nav .gnb ul li a.name::after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	background-color: #814D61;
	bottom: -2px;
	left: 50%;
}
.header .inner-header .nav .gnb ul li a.name:hover::after {
	width: 100%;
	left: 0;
}
.header .inner-header .nav .gnb ul li a:not(.name)::after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	background-color: #814D61;
	bottom: -5px;
	left: 50%;
	transition: all 0.1s;
}
.header .inner-header .nav .gnb ul li a:not(.name):hover::after {
	width: 100%;
	left: 0;
}
 */
