.memberDetail {
	font-family: 'Zilla Slab', sans-serif;
}
.memberDetail .sections .sec1 {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc( 100vh - 65px - 70px);
}
.memberDetail .sections .sec1 .sec-con {
	width: 600px;
	height: 400px;
	background: url(../../img/paper.jpg) no-repeat 100% / cover;
	box-shadow:rgba(0, 0, 0, 0.5) 0 8px 10px;
	padding: 35px 50px;
}
.memberDetail .sections .sec1 .sec-con h3 {
	padding: 10px 0;
	text-align: center;
	background: #000000;
	color: #ffffff;
	margin-bottom: 35px;
}
.memberDetail-con {
	display: flex;
	justify-content: space-between;
}
.memberDetail-con .profile {
	padding: 30px 0px;
	box-sizing: border-box;
	border: 1px solid #000000;
}
.memberDetail-con .profile img {
	width: 180px;
}
.memberDetail-con .info-con {
	width: calc( 100% - 200px );
	padding: 30px 0 0 20px;
}
.memberDetail-con .info-con li {
	width: 100%;
	line-height: 32px;
}
.memberDetail-con .info-con li span {
	font-size: 16px;
}
.memberDetail-con .info-con li span:first-child {
	display: inline-block;
	width: 80px;
}
.memberDetail-con .info-con li:last-child {
	margin-top: 20px;
	text-align: right;
}
.memberDetail-con .info-con li a {
	font-family: inherit;
	display: inline-block;
	color: #ffffff;
	background: #ee0000;
	border: 2px solid #ee0000;
	padding: 3px 10px;
	transition: all 0.2s;
	font-size: 16px;
	line-height: 16px;
}
.memberDetail-con .info-con li a:hover {
	background: #ffffff;
	color: #ee0000;
}
