.memberList {
	font-family: 'kanit', sans-serif;
}
.memberList .sections .section {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc( 100vh - 65px - 70px);
}
.memberList .sections .section .sec-con {
	flex: 0 1 800px;
}
.memberList .sections .section .sec-con .title {
	padding-bottom : 20px;
	text-align: center;
}
table {
	width: 100%;
}
table,td,tr,th {
	border-collapse: collapse;
}
table tr th {
	padding: 5px 0;
	border-bottom: 2px solid #666666;
	border-top: 1px solid #999999;
}
table tbody tr td {
	padding: 5px 0;
	font-size: 14px;
	text-align: center;
	border-bottom: 1px solid #999999;
}
table tbody tr td a {
	font-weight: bold;
}
table tbody tr td a:hover {
	text-decoration: underline;	
}



.sec-con .page-box {
	margin-top: 10px;
}
.sec-con .page-box ul {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.sec-con .page-box ul li a {
	font-size: 18px;
	line-height: 24px;
}
.sec-con .page-box ul li a:hover {
	text-decoration: underline;
}
.sec-con .page-box ul li a .bi {
	font-size: 14px;
}
.sec-con .page-box ul li a.now {
	color: #ee0000;
}
.sec-con .page-box ul li a.now:hover {
	text-decoration: none;
}