.bookAdd {
	font-family: 'Kanit', sans-serif;
}
.bookAdd .sections .sec1 .sec-con {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc( 100vh - 65px - 70px);
}
.bookAdd .sections .sec1 .sec-con .bookAdd-con {
	width: 700px;
	height: 480px;
	display: flex;
	justify-content: space-between;
	background: url(../../img/paper.jpg) no-repeat 100% / cover;
	box-shadow:rgba(0, 0, 0, 0.5) 0 8px 10px;
	padding: 0 40px 0 40px;
}

.img-box {
	width: 280px;
	height: 402px;
	border: 1px solid;
	margin-top: 40px;
}
.img-box img {
	width: 278px;
	height: 400px;
	display: block;
	object-fit: contain;
}

/* form */
form {
	margin: 30px 0;
}
form .title {
	line-height: 40px;
}
form ul {
	margin-top: 10px;
	width: 300px;
}
form ul li {
	
}
form ul li.one-line {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}
form ul li.introduction-label {
	margin-top: 10px;
	margin-bottom: 5px;
}
form ul li.file-box {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
form ul li.one-line label {
	padding: 0 10px 0 0;
}
form ul li label {
	font-size: 14px;
	color: #444444;
}
form ul li:nth-child(5) label {
	width: 160px;
}
form ul li input:not(#addBtn,#ISBNcheckBtn,#cover) {
	font-family: inherit;
	border: none;
	border-bottom: 1px solid #444444;
	outline: none;
	background: none;
	width: 100%;
	padding: 0 0 2px 2px;
}
form ul li input:focus {
	outline: none;
}
form ul li textarea {
	width: 100%;
	height: 70px;
	outline: none;
	resize: none;
	background: none;
	border: 1px solid #444444;
	padding: 3px 3px;
	font-family: inherit;
}
form ul li.file-box label {
	padding-right: 20px;
}

/* btns */
form ul li.btn-box {
	margin-top: 15px;
	display: flex;
	justify-content: right;
}
form ul li input.btn {
	font-family: inherit;
	color: #ffffff;
	background: #444444;
	border: 2px solid #444444;
	padding: 0 5px;
	transition: all 0.2s;
	font-size: 12px;
	cursor: pointer;	
}
form ul li input.btn:hover {
	color: #444444;
	background: #ffffff;
}
form ul li input#addBtn {
	font-size: 14px;
	background: #ee0000;
	border: 2px solid #ee0000;
}
form ul li input#addBtn:hover {
	color: #ee0000;
	background: #ffffff;
}

